{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>云科技</title>
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
        <link rel="stylesheet" href="{% static 'css/global_color.css' %}">
    </head>
    <body>
        <!--主要区域开始-->
        <div>
            <!--保存成功或者失败的提示消息-->     
            <div id="save_result_info" class="save_fail">保存失败，该身份证已经开通过账务账号！</div>
            <form action="" method="" class="main_form">
                <!--必填项-->
                <div class="text_info clearfix"><span>姓名：</span></div>
                <div class="input_info">
                    <input type="text" value="" name="name"/>
                    <span class="required">*</span>
                    <div class="validate_msg_long name">20长度以内的汉字、字母和数字的组合</div>
                </div>
                <div class="text_info clearfix"><span>身份证：</span></div>
                <div class="input_info">
                    <input type="text" value="" name="shenfen"/>
                    <span class="required">*</span>
                    <div class="validate_msg_long shenfen">正确的身份证号码格式</div>
                </div>
                <div class="text_info clearfix"><span>登录账号：</span></div>
                <div class="input_info">
                    <input type="text" value="创建即启用，状态为开通" name="osname"/>
                    <span class="required">*</span>
                    <div class="validate_msg_long osname">30长度以内的字母、数字和下划线的组合</div>
                </div>
                <div class="text_info clearfix"><span>密码：</span></div>
                <div class="input_info">
                    <input type="password" name="ospwd" />
                    <span class="required">*</span>
                    <div class="validate_msg_long ospwd">30长度以内的字母、数字和下划线的组合</div>
                </div>
                <div class="text_info clearfix"><span>重复密码：</span></div>
                <div class="input_info">
                    <input type="password" name="ospwd1" />
                    <span class="required">*</span>
                    <div class="validate_msg_long ospwd1">两次密码必须相同</div>
                </div>     
                <div class="text_info clearfix"><span>电话：</span></div>
                <div class="input_info">
                    <input type="text" class="width200" name="tel"/>
                    <span class="required">*</span>
                    <div class="validate_msg_medium">正确的电话号码格式：手机或固话</div>
                </div>                
                <!--可选项-->
                <div class="text_info clearfix"><span>可选项：</span></div>
                <div class="input_info">
                    <img src="{% static 'images/show.png' %}" alt="展开" onclick="showOptionalInfo(this);" />
                </div>
                <div id="optionalInfo" class="hide">
                    <div class="text_info clearfix"><span>生日：</span></div>
                    <div class="input_info">
                        <input type="text" name="birth" value="由身份证号计算而来" readonly class="readonly" />
                    </div>
                    <div class="text_info clearfix"><span>Email：</span></div>
                    <div class="input_info">
                        <input type="text" class="width350" name="email"/>
                        <div class="validate_msg_tiny">50长度以内，合法的 Email 格式</div>
                    </div> 
                    <div class="text_info clearfix"><span>职业：</span></div>
                    <div class="input_info">
                        <select name="zhiye">
                            <option>干部</option>
                            <option>学生</option>
                            <option>技术人员</option>
                            <option>其他</option>
                        </select>                        
                    </div>
                    <div class="text_info clearfix"><span>性别：</span></div>
                    <div class="input_info fee_type">
                        <input type="radio" value="女" name="radSex" checked="checked" id="female" />
                        <label for="female">女</label>
                        <input type="radio" value="男" name="radSex" id="male" />
                        <label for="male">男</label>
                    </div> 
                    <div class="text_info clearfix"><span>通信地址：</span></div>
                    <div class="input_info">
                        <input type="text" class="width350" name="addr"/>
                        <div class="validate_msg_tiny">50长度以内</div>
                    </div> 
                    <div class="text_info clearfix"><span>邮编：</span></div>
                    <div class="input_info">
                        <input type="text" name="youbina"/>
                        <div class="validate_msg_long">6位数字</div>
                    </div> 
                    <div class="text_info clearfix"><span>QQ：</span></div>
                    <div class="input_info">
                        <input type="text" name="qq"/>
                        <div class="validate_msg_long">5到13位数字</div>
                    </div>                
                </div>
                <!--操作按钮-->
                <div class="button_info clearfix">
                    <input type="button" id="receive" value="保存" class="btn_save" />
                    <input type="button" id="quxiao" value="取消" class="btn_save" />
                </div>
            </form>  
        </div>
        <!--主要区域结束-->
        <div id="footer">
            <span>[源自北美的技术，最优秀的师资，最真实的企业环境，最适用的实战项目]</span>
            <br />
            <span>版权所有(C)云科技有限公司 </span>
        </div>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/csrf.js' %}"></script>
    <script src="{% static 'js/powerview.js' %}"></script>
    <script src="{%static 'js/jquery.min.js'%}"></script>
    <script src="{%static 'js/jquery.cookie.js'%}"></script>
    <!--<script src="{% static 'js/show.js' %}"></script>-->
    <script>
        csrf_yield();
        $('#receive').on('click', function () {
            let data = $('form').serialize();
            let code = true;
            for(let i=0; i<$('form div').length;i++) {
                if($('form div').eq(i).css('color') === 'rgb(255, 0, 0)') {
                    code = false;
                }
            }
            if($('input[name="name"]').val() === '') {
                code = false;
                alert('姓名不能为空');
            }
            if($('input[name="shenfen"]').val() === '') {
                code = false;
                alert('身份证信息不能为空');
            }
            if($('input[name="osname"]').val() === '') {
                code = false;
                alert('登录账号不能为空');
            }
            if($('input[name="ospwd"]').val() === '') {
                code = false;
                alert('密码不能为空');
            }
            if($('input[name="tel"]').val() === '') {
                code = false;
                alert('电话不能为空');
            }
            if(code) {
                $.ajax({
                    url: '{% url "account_add" %}',
                    type: 'post',
                    data: data,
                    success:function (ev) {
                        ev = JSON.parse(ev);
                        if(ev.code === 200) {
                            let a = confirm('创建用户成功');
                            if(a){
                                console.log(111);
                                window.location.href = '{% url "account_list" %}';
                            }
                        }else {
                            alert('请注意各个字段是否符合');
                        }
                    }
                })
            }else {
                alert('请查看各个字段是否符合');
            }
        });
        $('#quxiao').on('click', function () {
            window.location.href = '{% url "account_list" %}';
        });
        // 电话验证
        yanzheng(isPhoneNo, 'input[name="tel"]', '.validate_msg_medium');
        // 身份证验证
        yanzheng(isCardNo, 'input[name="shenfen"]', '.shenfen');
        // 用户名验证
        yanzheng(isChinaName, 'input[name="name"]', '.name');
        // 登录名验证
        yanzheng(isUsername, 'input[name="osname"]', '.osname');
        // 密码验证(是否符合, 两次是否相同)
        yanzheng(isUsername, 'input[name="ospwd"]', '.ospwd');
        yanzheng(isPassword, 'input[name="ospwd1"]', '.ospwd1');
        function yanzheng(func, input, css) {
            $(input).focus(function () {
                if(func($(input).val())) {
                    $(css).css('color', 'black');
                }else {
                    $(css).css('color', 'red');
                }
            });
            $(input).blur(function () {
                if(func($(input).val())) {
                    $('input[name="birth"]').val(yieldBirth());
                    $(css).css('color', 'black');
                }else {
                    $(css).css('color', 'red');
                }
            });
        }

        // 计算生日日期
        function yieldBirth() {
            let birth1 = $('input[name="shenfen"]').val();
            let birth = birth1.split("").reverse().join("").slice(4, 12).split("").reverse().join("");
            let year = birth.slice(0, 4);
            let month = birth.slice(4, 6);
            let day = birth.slice(6, 8);
            birth = year + '-' + month + '-' + day;
            console.log(birth);
            return birth
        }
        // 验证中文名称
        function isChinaName(name) {
             var pattern = /^[\u4E00-\u9FA51-9a-zA-Z]{1,20}$/;
             return pattern.test(name);
        }
        // 验证账号
        function isUsername(name) {
             var pattern = /^[_1-9a-zA-Z]{1,30}$/;
             return pattern.test(name);
        }
        function isPassword(name) {
            if($('input[name="ospwd"]').val() === $('input[name="ospwd1"]').val()) {
                return true;
            }else {
                return false;
            }
        }
        // 验证手机号
        function isPhoneNo(phone) {
             var pattern = /^1[34578]\d{9}$/;
             return pattern.test(phone);
        }

        // 验证身份证
        function isCardNo(card) {
             var pattern = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
             return pattern.test(card);
        }


        //保存成功的提示信息
            function showResult() {
                showResultDiv(true);
                window.setTimeout("showResultDiv(false);", 3000);
            }
            function showResultDiv(flag) {
                var divResult = document.getElementById("save_result_info");
                if (flag)
                    divResult.style.display = "block";
                else
                    divResult.style.display = "none";
            }


            //显示选填的信息项
            function showOptionalInfo(imgObj) {
                var div = document.getElementById("optionalInfo");
                if (div.className == "hide") {
                    div.className = "show";
                    imgObj.src = "{% static 'images/hide.png' %}";
                }
                else {
                    div.className = "hide";
                    imgObj.src = "{% static 'images/show.png' %}";
                }
            }

    </script>
    </body>
</html>
