{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
        <link rel="stylesheet" href="{% static 'css/global_color.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <style type="text/css">
            .page_ul li {
                display: inline-block;
            }

        </style>
    </head>
    <body>
        <!--Logo区域开始-->
        <div id="header">
            <img src="{% static 'images/logo.png' %}" alt="logo" class="left"/>
            <a href="{%url 'show_index'%}">[退出]</a>
        </div>
        <!--Logo区域结束-->
        <!--导航区域开始-->
        <div id="navi">                        
            <ul id="menu">
                <li><a href="{%url 'show_index'%}" class="index_off"></a></li>
                <li><a href="{%url 'show_role'%}" class="role_off"></a></li>
                <li><a href="{%url 'show_admin'%}" class="admin_off"></a></li>
                <li><a href="{%url 'fee_list'%}" class="fee_off"></a></li>
                <li><a href="{% url 'account_list' %}" class="account_off"></a></li>
                <li><a href="{% url 'service_list' %}" class="service_on"></a></li>
                <li><a href="{% url 'bill_list' %}" class="bill_off"></a></li>
                <li><a href="{% url 'report_list' %}" class="report_off"></a></li>
                <li><a href="{%url 'user_info'%}" class="information_off"></a></li>
                <li><a href="{%url 'user_pwd'%}" class="password_off"></a></li>
            </ul>            
        </div>
        <!--导航区域结束-->
        <!--主要区域开始-->
        <div id="main">
            <form action="" method="">
                <!--查询-->
                <div class="search_add">                        
                    <div>OS 账号：<input type="text" value="" name="osname" class="width100 text_search" /></div>
                    <div>服务器 IP：<input type="text" value="" name="name" class="width100 text_search" /></div>
                    <div>身份证：<input type="text"  value="" name="ident" class="text_search" /></div>
                    <div>状态：
                        <select class="select_search" name="state">
                            <option>全部</option>
                            <option>开通</option>
                            <option>暂停</option>
                            <option>删除</option>
                        </select>
                    </div>
                    <div><input type="button" value="搜索" class="btn_search" /></div>
                    <input style="width: 67px" type="button" value="增加" class="btn_add" />
                </div>  
                <!--删除的操作提示-->
                <div id="operate_result_info" class="operate_success">
                    <img src='{% static "images/close.png" %}' onclick="this.parentNode.style.display='none';" />
                    删除成功！
                </div>   
                <!--数据区域：用表格展示数据-->     
                <div id="data">            
                    <table id="datalist">
                    <tr>
                        <th class="width50">业务ID</th>
                        <th class="width70">账务账号ID</th>
                        <th class="width150">身份证</th>
                        <th class="width70">姓名</th>
                        <th>OS 账号</th>
                        <th class="width50">状态</th>
                        <th class="width100">服务器 IP</th>
                        <th class="width100">资费</th>                                                        
                        <th class="width200"></th>
                    </tr>
                    {% for bus in business %}
                    <tr class="main_data">
                        <td><a onclick="click1('{{ bus.id }}')" style="color: blue; text-decoration: underline;cursor: pointer" title="查看明细">{{bus.id}}</a></td>
                        <td>{{bus.account.account_id}}</td>
                        <td>{{bus.user.ident}}</td>
                        <td>{{bus.user.nickname}}</td>
                        <td>{{bus.user.osname}}</td>
                        <td>{{bus.statue}}</td>
                        <td>{{bus.user.osip}}</td>
                        <td>
                            <a class="summary"  onmouseover="showDetail(true,this);" onmouseout="showDetail(false,this);">{{bus.postage.pg_name}}</a>
                            <!--浮动的详细信息-->
                            <div class="detail_info">{{bus.postage.pg_explain}}</div>
                        </td>                            
                        <td class="td_modi">
                            <input type="button" value="暂停" class="btn_pause" onclick="pause(this, '{{bus.id}}')"/>
                            <input type="button" value="修改" class="btn_modify" onclick="update('{{ bus.id }}')"/>
                            <input type="button" value="删除" class="btn_delete" onclick="btn_delete(this, '{{ bus.id }}')"/>
                        </td>
                    </tr>
                    {% endfor %}
                </table>                
                <p>业务说明：<br />
                1、创建即开通，记载创建时间；<br />
                2、暂停后，记载暂停时间；<br />
                3、重新开通后，删除暂停时间；<br />
                4、删除后，记载删除时间，标示为删除，不能再开通、修改、删除；<br />
                5、业务账号不设计修改密码功能，由用户自服务功能实现；<br />
                6、暂停和删除状态的账务账号下属的业务账号不能被开通。</p>
                </div>                    
                <!--分页-->
                <div id="pages" class="page_ul">
                    <!--分页-->
                    <!--<ul class="pagination" id="pager">-->
                        <li class="item"><a href="{% url 'service_list' %}?page=1">首页</a></li>
                        {#上一页按钮开始#}
                        {# 如果当前页有上一页#}
                        {% if business.has_previous %}
                            {#  当前页的上一页按钮正常使用#}
                            <li class="previous"><a href="{% url 'service_list' %}?page={{ business.previous_page_number }}">上一页</a></li>
                        {% else %}
                            {# 当前页的不存在上一页时,上一页的按钮不可用#}
                            <li class="previous disabled"><a href="#">上一页</a></li>
                        {% endif %}
                        {#上一页按钮结束#}
                        {# 页码开始#}
                        {% for num in paginator.page_range %}
                            {% if num == currentPage %}
                                <li class="item active"><a class="current_page" href="{% url 'service_list' %}?page={{ num }}">{{ num }}</a></li>
                            {% else %}
                                <li class="item"><a href="{% url 'service_list' %}?page={{ num }}">{{ num }}</a></li>

                            {% endif %}
                        {% endfor %}
                        {#页码结束#}
                        {# 下一页按钮开始#}
                        {% if business.has_next %}
                            <li class="next"><a href="{% url 'service_list' %}?page={{ business.next_page_number }}">下一页</a></li>
                        {% else %}
                            <li class="next disabled"><a href="#">下一页</a></li>
                        {% endif %}
                        {# 下一页按钮结束#}
                        <li class="item"><a href="{% url 'service_list' %}?page={{ paginator.num_pages }}">末页</a></li>
                    <!--</ul>-->
                    <!--<a href="#">首页</a>-->
        	        <!--<a href="#">上一页</a>-->
                    <!--<a href="#" class="current_page">1</a>-->
                    <!--<a href="#">2</a>-->
                    <!--<a href="#">3</a>-->
                    <!--<a href="#">4</a>-->
                    <!--<a href="#">5</a>-->
                    <!--<a href="#">下一页</a>-->
                    <!--<a href="#">末页</a>-->
                </div>                    
            </form>
        </div>
        <!--主要区域结束-->
        <div id="footer">
            <p>[源自北美的技术，最优秀的师资，最真实的企业环境，最适用的实战项目]</p>
            <p>版权所有(C)云科技有限公司 </p>
        </div>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/csrf.js' %}"></script>
    <script src="{%static 'js/jquery.min.js'%}"></script>
    <script src="{%static 'js/jquery.cookie.js'%}"></script>
    <script src="{% static 'js/powerview.js' %}"></script>
    <script>
        run_image();
        csrf_yield();
        if(!$.cookie('user')){
            window.location.href = "{%url 'show_login' %}";
        }
        // 搜索
        $('.btn_search').on('click', function () {
            // $('.search_add div input[type="text"]').each(function (a, b) {
            //     console.log($(this).attr('name'));
            // })
            let osname = $('.search_add input').eq(0).val();
            let name = $('.search_add input').eq(1).val();
            let ident = $('.search_add input').eq(2).val();
            let state = $(".select_search  option:selected").text();
            $.ajax({
                url: '{% url "ser_search" %}',
                type: 'post',
                data: {'ident':ident, 'name':name, 'osname':osname, 'state':state},
                success:function (ev) {
                    ev = JSON.parse(ev);
                    if(ev.code===200) {
                        $('.main_data').css('display', 'none');
                        for(let i=0;i<ev.buss.length;i++) {
                            let bus = ev.buss[i];
                            html = yield_html(bus);
                            $('#datalist').append(html);
                            run_image();
                        }
                    }
                }
            })
        });
        function yield_html(bus) {
            let html = `<tr class="main_data">
                        <td><a onclick="click1('${bus.id}')" style="color: blue; text-decoration: underline;cursor: pointer" title="查看明细">${bus.id}</a></td>
                        <td>${bus.account_id}</td>
                        <td>${bus.ident}</td>
                        <td>${bus.nickname}</td>
                        <td>${bus.osname}</td>
                        <td>${bus.statue}</td>
                        <td>${bus.osip}</td>
                        <td>
                            <a class="summary"  onmouseover="showDetail(true,this);" onmouseout="showDetail(false,this);">${bus.postage}</a>
                            <div class="detail_info">${bus.postage.pg_explain}</div>
                        </td>
                        <td class="td_modi">
                            <input type="button" value="暂停" class="btn_pause" onclick="pause(this, '${bus.id}')"/>
                            <input type="button" value="修改" class="btn_modify" onclick="update('${ bus.id }')"/>
                            <input type="button" value="删除" class="btn_delete" onclick="btn_delete(this, '${ bus.id }')"/>
                        </td>
                    </tr>`;
            return html;
        }
        //删除
        function btn_delete(ths, id) {
            let r = window.confirm("确定要删除此业务账号吗？\r\n删除后将不能恢复。");
            if(r) {
                $.ajax({
                    url: '{% url "ser_delete_code" %}',
                    type: 'post',
                    data: {'id': id},
                    success:function (ev) {
                        ev = JSON.parse(ev);
                        if(ev.code===200) {
                            $(ths).parent().parent().children().eq(5).html('删除');
                            $(ths).parent().css('display', 'none');
                            alert('删除成功');
                            run_image();
                        }
                    }
                })
            }
        }
        //开通或暂停
        function pause(ths, id) {
            let r;
            let state = $(ths).parent().parent().children().eq(5).html();
            if(state==='开通'){
                r = window.confirm("确定要暂停此账务账号吗？");
            }else {
                r = window.confirm("确定要开通此账务账号吗？");
            }
            if(r){
                $.ajax({
                    url: '{% url "ser_update_code" %}',
                    type: 'post',
                    data: {'state':state, 'id': id},
                    success:function (ev) {
                        ev = JSON.parse(ev);
                        if(ev.code === 200) {
                            run_image();
                            $(ths).parent().parent().children().eq(5).html(ev.state);
                            if(ev.state==='开通') {
                                let img1 = '{% static "images/start.png" %}';
                                let img = 'url(1)'.replace('1', img1);
                                $(ths).css({'background-image':img});
                            }else {
                                let img1 = '{% static "images/pause.png" %}';
                                let img = 'url(1)'.replace('1', img1);
                                $(ths).css({'background-image':img});
                            }
                            alert('状态更新成功');
                            // window.location.href = '{% url "account_list" %}';
                        }else {
                            alert('状态更新失败');
                        }
                    }
                })
            }
        }

        // 开通暂停添加图片
        run_image();
        function run_image() {
            for(let i=0;i<$('.btn_pause').length; i++) {
                let txt = $('.btn_pause').eq(i).parent().parent().children().eq(5).html();
                if(txt==='开通') {
                    let img1 = '{% static "images/start.png" %}';
                    let img = 'url(1)'.replace('1', img1);
                    $('.btn_pause').eq(i).css({'background-image':img});
                }else if(txt==='暂停'){
                    let img1 = '{% static "images/pause.png" %}';
                    let img = 'url(1)'.replace('1', img1);
                    $('.btn_pause').eq(i).css({'background-image':img});
                }else if(txt==='删除'){
                    $('.btn_pause').eq(i).parent().children().css('display', 'none');
                }
            }
        }

        // 点击修改
        function  update(id) {
            let url1 = '{% url "service_update" 111 %}';
            let url = url1.replace('111', id);
            $('#main').load(url);
        }
        // 点击显示详细信息
        function click1(id) {
            let url1 = '{% url "service_detail" 111 %}';
            let url = url1.replace('111', id);
            $('#main').load(url);
        }
        // 增加功能按钮实现
        $('.btn_add').on('click', function () {
            $('#main').load('{% url "service_add" %}');
        });


         //显示角色详细信息
            function showDetail(flag, a) {
                var detailDiv = a.parentNode.getElementsByTagName("div")[0];
                if (flag) {
                    detailDiv.style.display = "block";
                }
                else
                    detailDiv.style.display = "none";
            }
            //删除
            function deleteAccount() {
                var r = window.confirm("确定要删除此业务账号吗？删除后将不能恢复。");
                document.getElementById("operate_result_info").style.display = "block";
            }
            //开通或暂停
            function setState() {
                var r = window.confirm("确定要开通此业务账号吗？");
                document.getElementById("operate_result_info").style.display = "block";
            }
    </script>
</body>
</html>
